*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px auto ;
  gap: 30px;
  margin-top: 133px;
}

.result {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 16px;
  margin-top: 78px;
}

video {
  width: 100%;
  object-fit: cover;
}

.result__video {
  flex-grow: 1;  
  height: 386px;
}

.result__video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  max-width: 400px;
  max-height: 298px;
  margin-top: 26px;
  gap: 30px;
  overflow-x:hidden;
}

. .content__card-link:active{
  background-color: rgba(84, 80, 80, 1);
  border: none;
}

.content__video-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}


.content__video-card-thumbnail{
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 98%;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1); 
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__checkbox-list {
  color: rgba(255, 255, 255, 0.7);
  display: inline-flex;
  gap: 15px;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;  
}


button:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__video-card {
  color: rgba(255, 255, 255, 1);
}

.content__card-link:hover{
  text-decoration: underline;
  color: #fff;
}

.content__video-card-title{
  text-transform: uppercase;
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.content__video-card:active{
  background-color: rgba(84, 80, 80, 1);
  border: none;
}

.content__card-link{
  text-decoration: none;
  margin-top: 6px;;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}


.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__label {
  vertical-align: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text{
  appearance: none;
  color: #fff;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield{
  color: inherit;
}

.search-form__pseudo-checkbox {
  margin-top: 5px;
  width: 19px;
  height: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
}

input[type=checkbox]:checked + .search-form__pseudo-checkbox::after {
  width: 15px;
  height: 15px;
  content: '';
  margin: 0 auto;
  background: #fff;
}

input[type=checkbox] + .search-form__label{
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has( + input:focus-visible){
  outline: 1px solid #fff;
  outline-offset: 1px;
}

input[type=text] {
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-top: 5px;
  cursor: text;
  height: 27px;
  width: 225px;
  content: '';
  border: 1px 0px;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-color: #fff;
}

input[type=text]:focus-visible{
  outline-offset: 2px;
  outline: 1px solid white;
}

.button {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  gap: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
}

button:active{
  background-color: rgba(84, 80, 80, 1);
  border: 1px solid #fff;
}

button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
}

.more-button {
  width: 399px;
  min-height: 33px;
  margin-bottom: 1px;
}